.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.3rem;
}

.start{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 0.3rem;
}

.center{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.heading{
    color: white;
}

.end{
    margin-right: 0.3rem;
    display: none;
}
.custom__navbar{
    display: flex;
    padding: 0.6rem 0.3rem;
    justify-content: center;
}
.navbar__items{
    display: flex;
    gap: 2rem;
 
}
.list__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (min-width:768px){
    .start , .center ,  .end{
        font-size: 1.5rem;
        gap: 0.6rem;
    }
    .end{
        display: block;
        margin-right: 1rem;
    }
}