.banner_container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.banner__image{
    height: 100%;
    width: 70%;
}
.position_up{
    position: absolute;
    top: 10px;
    left: 10px;
}

@media only screen and (min-width: 1024px){
    .banner__image{
        height: 300px;
    }
}