.register_div{
    background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #181818, #292929, #3b3b3b, #676767, #979797, #cacaca, #ffffff);
    min-height: 100vh;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.image{
    display: none;
}
.heading{
    padding: 2rem;
}

.register_form{
    display: flex;
    justify-content: center;
}
.form_div{
    min-width: 100%;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.input_login {
    padding: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .login_button {
    padding: 10px 20px;
    margin-top: 1rem;
  }

  .form_container{
      width: 100%;
      margin-bottom: 1rem;
  }

  @media only screen and (min-width:768px){
     .form{
       width: 60%;
     }
     form{
        min-width: 100%;
     }
     .image{
         display: block;
     }
     .form_div{
         display: flex;
         justify-content: center;
         align-items: center;
         min-width: 60%;
         flex-basis: 60%;
         border-right: 3px solid #fff;
         min-height: 100vh;
     }
     .image{
         flex-basis: 40%;
         background-image: url('../../assets/travel.jpg');
         background-repeat: no-repeat;
         background-size: 550px;
     }
  }